@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:display=swap");

:root {
  --font-family-principal: "Montserrat", sans-serif;
  --font-family-secondaire: "Nunito Sans", sans-serif;
  --font-family-tertiaire: "Roboto Slab", serif;
  --color-principal: #060000;
  --color-secondaire: #8e4504;
  --color-tertiaire: #ffffff;
  --color-inherit: inherit;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: var(--color-secondaire); */
  color: var(--color-principal);
  font-family: var(--text-principal);
}

header {
  height: 100vh;
  width: 100vw;
  background: fixed;
  background-image: url(./public/Img/Image_Gems_Bijoux_Atelier_2.png);
  background-size: cover;
  background-position: 55%;
  background-position-y: 30px;
  background-repeat: no-repeat;
}
.header {
  position: fixed;
  width: 100%;
}

.bandeau {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: var(--color-secondaire);
}

.bandeau-text {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px 0;
  font-family: var(--font-family-tertiaire);
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  letter-spacing: 1px;
  color: var(--color-tertiaire);
  cursor: default;
}

nav {
  position: fixed;
  width: 100%;
  background: var(--color-inherit);
  z-index: 999;
}

.nav-titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  height: 45px;
  transition: all 0.5s ease-in-out;
}

.titre {
  font-family: var(--font-family-principal);
  font-size: 24px;
  letter-spacing: 1px;
  margin-left: 10px;
  font-weight: 400;
  color: var(--color-principal);
  cursor: default;
}

.nav-menu {
  flex-direction: column;
  margin-top: 15px;
  padding: 0 15px;
  border-right: 1px solide var(--color-inherit);
  margin-left: -100%;
  transition: all 0.5s ease;
}

.nav-menu a {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-secondaire);
  margin: 8px 0;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-principal);
}

.nav-menu a:hover {
  color: var(--color-secondaire);
}

.nav-menu a.active {
  color: var(--color-secondaire);
}

.ligne {
  display: flex;
  margin: 10px 0 10px 10px;
  width: 65px;
  height: 1px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-principal);
}

.nav-icon-left,
.nav-icon-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon-left img,
.nav-icon-right img {
  padding: 0 15px;
  width: 20px;
  color: var(--color-principal);
}

.btn-nos-bijoux {
  width: 143px;
  height: 47px;
  margin: 20px;
  margin-top: 450px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  background: var(--color-secondaire);
  border-radius: 5px;
  border: var(--color-secondaire);
  color: var(--color-tertiaire);
  cursor: pointer;
}

.btn-nos-bijoux:hover {
  color: var(--color-secondaire);
  background-color: var(--color-tertiaire);
}

/* MAIN */

main {
  background-color: var(--color-tertiaire);
}

.article {
  padding: 20px 10px;
}

.categorie {
  text-align: center;
}

.categorie-titre {
  font-family: var(--font-family-principal);
  font-weight: 400;
}

.categorie-p {
  padding: 20px;
  font-family: var(--font-family-secondaire);
  color: var(--color-secondaire);
}

.card {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: space-between;
}

.card-article {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
}

img.card-img {
  width: 60%;
}

.card-titre {
  font-family: var(--font-family-principal);
  color: var(--color-secondaire);
}

.card-p {
  padding: 20px;
  font-family: var(--font-family-secondaire);
  font-size: 10px;
  text-align: center;
}

.btn-voir {
  width: 100px;
  height: 30px;
  margin: 20px 20px 40px;
  padding: 5px;
  margin: 10px;
  font-size: 12px;
  line-height: 22px;
  background: var(--color-secondaire);
  border-radius: 5px;
  border: var(--color-secondaire);
  color: var(--color-tertiaire);
  cursor: pointer;
}

.btn-voir:hover {
  color: var(--color-secondaire);
  background-color: var(--color-tertiaire);
  border: 1px solid var(--color-secondaire);
}

/* Banniere photo */

.banniere-img-un {
  background: url(./public/Img/Image_Gems_Bijoux_Atelier_India.jpg);
}
.banniere-img-deux {
  background: url(./public/Img/Image_Gems_Bijoux_Atelier_India_2.jpg);
}
.banniere-img-trois {
  background: url(./public/Img/Image_Gems_Bijoux_Atelier.jpg);
}

.banniere-img-un,
.banniere-img-deux,
.banniere-img-trois {
  height: 400px;
  background-size: cover;
}

.btn-collection {
  margin: 20px 20px 40px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  background: var(--color-secondaire);
  border-radius: 5px;
  border: var(--color-secondaire);
  color: var(--color-tertiaire);
  cursor: pointer;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--color-principal);
}

footer a {
  text-decoration: none;
  color: var(--color-tertiaire);
  margin: 20px;
  padding: 20px;
}

.div-footer {
  display: flex;
  justify-content: space-between;
}

/* CSS AVEC LE JS */

.nav-titre.scroll {
  background-color: var(--color-tertiaire);
}

.mobile-menu {
  margin-left: 0;
}

/* .nav-container {
  height: 100px;
  background: var(--color-tertiaire);
}

.recherche {
  display: flex;
  justify-content: center;
}

.recherche-loupe {
  width: 180px;
  margin-top: 25px;
  border: 0px;
}

.recherche-icon-cross img {
  margin-top: 25px;
  padding: 0 15px;
  width: 10px;
  color: var(--color-principal);
} */

@media (min-width: 900px) {
  header {
    background-position-y: 65px;
  }

  .bandeau-text {
    font-size: 14px;
  }

  nav {
    background: var(--color-tertiaire);
    transition: all 0.5s ease;
  }

  .titre {
    font-size: 30px;
  }
  .icon-burger img {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    margin-left: 0;
    transition: none;
  }

  .nav-menu a {
    margin: 0 10px;
    font-size: 16px;
  }

  .ligne {
    display: none;
  }

  /* MAIN */

  .categorie-titre {
    font-size: 30px;
  }
  .categorie-p {
    font-size: 20px;
  }

  .card-titre {
    font-size: 20px;
  }

  .card-p {
    font-size: 16px;
  }

  .btn-voir {
    font-size: 18px;
  }

  .banniere-img-un {
    background-position-y: center;
  }

  .banniere-img-deux {
    background-position-y: top;
  }

  .banniere-img-trois {
    background-position-y: center;
  }
}
